<body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var width = 900,
height = 105;

chart = d3.select('body')
        .append('svg')
        .attr('class', 'chart')
        .attr('width', width)
        .attr('height', height)

.chart {
  background: #fff;
  margin: 5px;
}
Var cellSize = 17;
var percent = d3.format(".1%"),
       format = d3.time.format("%Y%m%d");
var color = d3.scale.linear().range(["white", '#002b53'])
           .domain([0, 1])

d3.csv("/static/django.csv", function(error, csv) {

             csv.forEach(function(d) {
               d.Comparison_Type = parseInt(d.Comparison_Type);
             });

var data = d3.nest()
                 .key(function(d) { return d.Date; })
                 .rollup(function(d) { return  Math.sqrt(d[0].Comparison_Type / Comparison_Type_Max); })
                 .map(csv);
                 rect.filter(function(d) { return d in data; })
                       .attr("fill", function(d) { return color(data[d]); })
                     });

svg.selectAll(".month")
                           .data(function(d) { return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
                           .enter().append("path")
                           .attr("class", "month")
                           .attr("id", function(d,i){ return month[i] })
                           .attr("d", monthPath);
month = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

         legend.append("text")
            .attr("class", function(d,i){ return month[i] })
            .style("text-anchor", "end")
            .attr("dy", "-.25em")
            .text(function(d,i){ return month[i] });
            week_days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat']

svg.append("text")
                .attr("transform", "translate(-5," + cellSize*(i+1) + ")")
                .style("text-anchor", "end")
                .attr("dy", "-.25em")
                .text(function(d) { return week_days[i]; });
